MODEL_PATH=XXXXX
GAP=XXXXX
CONF_THRESHOLD=XXXXX
GEMINI_API_KEY=XXXXX
GEMINI_MODEL=XXXXX
NO_HAND_CONFIDENCE_THRESHOLD=XXXXX
PERCENT_OF_AVERAGE_TOP5_FOR_FINAL_FILTER_THRESHOLD=XXXXX
TEST_API_URL=XXXXX
TEST_CONTENT_DIR=XXXXX
TEST_SPECIFIC_FILE=XXXXX
