# Python cache / build / logs
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
env/
venv/
ENV/
.venv/

# System files
.DS_Store
Thumbs.db

# Environment variables / secrets
.env
*.env

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# Media and large data
*.mp4
*.mov
*.avi
*.png
*.jpg
*.jpeg

# ML Models
*.h5
*.tflite
*.tflite.*
*.pth
*.pt
*.onnx
*.pb
*.weights
*.ckpt

# Exclude content folder videos (keep folder)
uploads/*
preprocessed/*


# VS Code
*.code-workspace

# Compiled DLLs
*.dll
*.so
*.dylib
